[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
guru = {ref = "6c864e1", git = "https://github.com/guruhq/py-sdk.git"}
ghapi = "*"
pytest = "*"

[dev-packages]
types-beautifulsoup4 = "*"

[requires]
python_version = "3.11"
